body {
	background-color: #DC143C;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
label {
	font-family: Georgia, serif;
	font-size: 24px;
	color: #FFFDD0;
}
table {
	min-width: 110px;
}
[class*="col-"] {
  float: left;
}
.header {
	text-align: center;
	color: #FFFDD0;
	font-size: 60px;
	font-family: Georgia, serif;
	margin-block-end: 0em;
	margin-block-start: 0.5em;
}
.subheader {
	text-align: center;
	color: #FFFDD0;
	font-size: 26px;
	font-family: Georgia, serif;
}
.square {
	background-color: black;
	border-radius: 3px;
	width: 524px;
	display: flex;
	justify-content: center;
}
.button_play {
	width: 100px;
	height: 100px;
	background-color: gray;
	cursor: pointer;
	border: none;
	transition-duration: 0.17s;
	border-radius: 3px;
}
@media only screen and (min-width: 350px) {
  /* For phone: */
label {font-family: Georgia, serif;font-size: 18px;color: #FFFDD0;}
.button_play {width: 75px;height: 75px;}
.square {width: 400px;}
}
@media only screen and (min-width: 525px) {
  /* For desktop: */
label {font-family: Georgia, serif;font-size: 24px;color: #FFFDD0;}
.button_play {width: 100px;height: 100px;}
.square {width: 524px;}
}